@import url("media-query.css");
@media(max-width:900px){
    #blog-container{
        width: 100%;
        display: block;
    }

    #blog-adverts{
        display: none;
    }

    #blog-content{
        width: 97%;
        margin:auto;
    }

    .blog-video{
        height: 65vh;
    }

    .b-title{
        font-size: 13pt;
    }

    .bb{
        width: fit-content;
    }

    .bb a{
        display: none;
    }


}