@import url('vid-media-queries.css');
@media(max-width:900px){


#contact-class{
    margin:auto;
    margin-top:120px;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: none;
    display: block;
    font-family: calibri;
}




.form{
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to top left,#1b283a, #562974);
    padding: 10px;
}

.email-sender{
    width: 97%;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.f-heading{
    width: 100%;
    height: fit-content;
    /* text-align: center; */
    font-size: 16pt;
    /* font-weight: bold; */
    font-family: ;
}

.f-form{
    margin-top: 50px;   
    color: #999;
}

.dp1{
    width: 90%;
    padding: 10px;
    margin-top: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #888;
    color: #888;
}

.dp1:focus{
    border-bottom: 2px solid #888;
    text-transform: capitalize;
    color: white;
}

.dp2{
    width: 90%;
    padding: 10px;
    margin-top: 3px;
    background-color: transparent;
    border: none;
    border: 2px solid #888;
    color: #888;
    height: 150px;
}

.dp2:focus{
    border: 2px solid #888;
    text-transform: capitalize;
    color: white;
}

#button{
    margin-bottom: 50px;
    width: 150px;
}

#button:hover{
    cursor: pointer;
    opacity: 0.8;
}


.info{
    width: 100%;
    height: fit-content;
}

.info-details{
    width: 85%;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
}

.d-heading{
    font-size: 20pt;   
}

.d-small{
    font-size: 11pt;
    margin-top: 10px;
}

.detailers{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.detailers ul{
    margin: none;
    list-style: none;
    padding: 2px;
}

.detailers li{
    padding: 10px;
    font-size: 12pt;
    margin-top: 30px;
}


}