@import url("media-query.css");

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    width: 100%;
}

/* {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */

 /* @-webkit-keyframes fade-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
   */
   

:root{
    --background-color:whitesmoke;
    --color:#222;
    --font-family: arial;
}

*{
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    /* animation: fade-in 1.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}


 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  



.nav-bar{
    width:100%;
    height: 60vh;
    display: block;
    background-color: #222;
    overflow-y: hidden;
    position: relative;
}


.row-1{
    width: 100%;
    height: 80px;
    background-color: #fafbfd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position:fixed; */
    top: 0px;
    left: 0px;
    /* box-shadow: 0px 2px 5px #; */
    z-index: 4;
}

.row-1-inner{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: fit-content;
    height: 100%;
    /* background-color: red; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:2px;
}

.symbol{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 100%;
    width: 40px;
    color: #2f4563;
    box-shadow: 0px 0px 5px #2f4563;
    font-weight: bold;
}

.logo-text{
    font-weight: bold;
    margin-left: 3px;
    color: #222;
    font-size:13pt;
    text-transform: uppercase;
}



.links{
    width: 45%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-1,.link-2,.link-3,.link-4{
    width: fit-content; 
     height: fit-content;
}

.link-1 a,.link-2 a,.link-3 a,.link-4 a, .link-5 a{
    color: #444;
    text-decoration: none;
    padding: 10px;
    /* background: red; */
    font-family:calibri;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 500;
}

.link-1:hover,.link-2:hover,.link-3:hover,.link-4:hover, .link-5:hover{
    color:#2f4563;
    cursor: pointer;
}


.link-1:hover > a,.link-2:hover > a,.link-3:hover > a,.link-4:hover > a, .link-5:hover > a{
    color:#2f4563;
}


.contact{
    width: 10%;
    text-align: center;
    font-size: 16pt;
    color: #2f4563;
}

/* .contacter{
    width: 60%;
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
} 

.contacter:hover{
    opacity: 0.9;
    cursor:pointer;
} */

#m-nav{
    display: none;
}

.hamb-burger{
    display: none;
}

.intro{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.show-bar{
    width: 60%;
    height: 130px;
    background-color: whitesmoke;
    margin: auto;
    position: relative;
    top: -50px;
    box-shadow: 0px 0px 5px #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social{
    width: 60%;
    height: 100%;
    text-align: center;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20pt;
}

.sha{
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 2px #444;
    padding: 10px;
    border-radius: 100%;
    color:#2f4563;
}

.grid{
    height: 60vh;
    width: 90%;
    margin: auto;
    /* border: 1px solid #222; */
    margin-top: 30px;
    display:flex;
}

.grid-left{
    /* background-color: orange; */
    width:50%;
    height: 100%;
    padding: 20px;
}

.grid-text{
    font-size: 17pt;
    font-weight: bold;
}

.grid-pic{
    width:60%;
    height: 90%;
    background-color: #2a3e5a;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
    font-family: calibri;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    /* box-shadow: 10px 10px 25px 0px #585c61; */
}

.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-right{
    /* background-color: orangered; */
    width: 50%;
    height: 100%;
    border:2px solid lightgrey;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.grid-logo{
    font-family: arial;
    font-weight: bold;
    font-size: 50pt;
    color: #2a3e5a;
    animation-name: gridlogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes gridlogo{
    0%{
        color: #111;
    }

    25%{
        color: #ccc;
    }

    75%{
        color: #2f4563;
    }

    100%{
        color: #2a3e5a;
    }
}

.preview-grid{
    color: white;
    width: 90%;
    margin: auto;
    margin-top:50px;
    display: grid;
    height: 70vh;
    grid-template-columns: auto auto;
    overflow: hidden;
    border-radius: 10px;
}

.pg-blog{
    background-color: #e5e5e5;
    grid-column: 1/1;
    grid-row:1/3;
    position: relative;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3N8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}

.pg-text{
    width: 100%;
    height: 100%;
    background-color: rgba(19, 24, 31, 0.7);    
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.pg-inner{
    font-size: 30pt;
    color: #ccc;
    font-weight: bold;
}

.blog-pop-up{
    width: 100%;
    height: 100%;
    background-color: rgba(37, 58, 87, 0.8);
    position: absolute;
    top: 0px;
    left:-100%;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.bpp{
    width: fit-content;
    text-align: center;
    font-size: 13pt;
}

.goer{
    padding: 20px;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #222;
    box-shadow: 0px 0px 10px #222;
    font-weight: bold;
    width: 60px;
    font-size: 16pt;
}

.goer:hover{
    cursor: pointer;
    background-color: #333;
}


.pg-blog:hover > .blog-pop-up{
    left: 0px;
    transition-duration: 0.7s;
    cursor: pointer;
}

.pg-blog:hover{
    cursor: pointer;
}


.pg-quote{
    grid-column:2/4;
    grid-row:1/2;
    position: relative;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1544210163-257effe9399e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHF1b3Rlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes-pop-up{
    width: 100%;
    height: 100%;
    background-color: rgba(87, 37, 52, 0.8);
    position: absolute;
    top: -100%;
    left: 0px;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.bpp{
    width: fit-content;
    text-align: center;
    font-size: 13pt;
}

.goer{
    padding: 20px;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #222;
    box-shadow: 0px 0px 10px #222;
    font-weight: bold;
    width: 60px;
    font-size: 16pt;
}

.goer:hover{
    cursor: pointer;
    background-color: #333;
}


.pg-quote:hover > .quotes-pop-up{
    top: 0px;
    transition-duration: 0.7s;
    cursor: pointer;
}

.pg-blog:hover{
    cursor: pointer;
}







.pg-video{
    /* background-color: green; */
    grid-column:2/4;
    grid-row:2/3;
    overflow: hidden;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1540655037529-dec987208707?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmlkZW9zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}

.video-pop-up{
    width: 100%;
    height: 100%;
    background-color: rgba(37, 87, 79, 0.8);
    position: absolute;
    bottom: -100%;
    left: 0px;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.bpp{
    width: fit-content;
    text-align: center;
    font-size: 13pt;
}

.goer{
    padding: 20px;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #222;
    box-shadow: 0px 0px 10px #222;
    font-weight: bold;
    width: 60px;
    font-size: 16pt;
}

.goer:hover{
    cursor: pointer;
    background-color: #333;
}


.pg-video:hover > .video-pop-up{
    bottom: 0px;
    transition-duration: 0.7s;
    cursor: pointer;
}

.pg-blog:hover{
    cursor: pointer;
}





.site{ 
    width:100%;
    height: 37vh;
    /* background-color: #222; */
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}

.col-1,.col-2,.col-3{
    width: 300px;
    height: 100%;
    /* background-color:whitesmoke; */
    /* box-shadow: 0px 0px 3px #aaa; */
    margin-left: 30px;
    padding: 10px;
    text-align: center;
}

.col-icon{
    background-color: #2f4563;
    color: white;
    width: 70px;
    margin: auto;
    height: 70px;
    font-size: 25pt;
    padding: 15px;
    border-radius: 100%;
    margin-top: 10px;
}

.col-head{
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.col-texts{
    width: 80%;
    margin: auto;
    font-family: candara;
    line-height: 1.5;
    color: #333;
}



#blog-pages-foot{
    width: 100%;
    height: 60vh;
    background-color: #222;
    margin-top: 100px;
    font-family: calibri;
}

.foot-inner-1{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rcol-1{
    width: 40%;
    height: 100%;
    padding: 20px;
}

.rcol-2{
    width: 55%;
    /* background-color: red; */
    height: 100%;
    padding: 20px;
    color: white;
}

.rcol-2-text{
    width: 100%;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
}


.rcol-card{
    width: 80%;
    height: 100px;
    display: flex;
    margin-top: 20px;
    justify-content: left;
    /* border: 1px solid white; */
}

.rcol-image{
    width: 30%;
    height: 100%;
}

.rcol-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rcol-ref{
    width:40%;
    padding: 15px;
}

.rcol-ref a{
    color:white;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}


.foot-logo{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
}

.foot-symbol{
    font-size: 16pt;
    color: #2a3e5a;
    background-color: white;
    padding: 10px;
    width: 45px;
    text-align: center;
    border-radius: 100%;
    font-weight: bold;
    box-shadow: 0px 0px 5px #222;
}

.foot-textt{
    font-size: 16pt;
    color:white;
    font-weight: bold;
}

.foot-media{
    margin-top:30px;
    line-height: 2.5;
    font-size: 12pt;
    color: white;
}

