@import url("slide.css");

@media(max-width:900px){

    *{
        box-sizing: border-box;
    }
    #container{
        width: 100%;
        height: 100%;
        font-family: var(--font-family);
    }
    
    .nav-bar{
        width:100%;
        height: fit-content;
        display: block;
        background-color: #222;
    }
    
    
    .row-1{
        width: 100%;
        height: 90px;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        box-shadow: 0px 0px 4px #666;
    }
    
    .row-1-inner{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .logo{
        width: fit-content;
        height: 100%;
        /* background-color: red; */
        text-align: center;
        color: #222;
    }

    .logo-text{
        color: #2f4563;
        font-size: 14pt;
    }
    
    .links{
        display: none;
    }
    
    .contact{
        display: none;
    }

    .hamburger{
        width: fit-content;
    }

    a.mb{
        width:50px;
        padding: 10px;
        font-size: 17pt;
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: #222;
        font-weight: bold;
        font-size: 17pt;
    }
    
    #m-nav{
        position: absolute;
        width: 80%;
        height: 100vh;
        z-index: 5;
        background-color: whitesmoke;
        right: 0px;
        top: 0px;
        overflow-y: scroll;
        font-family: calibri;
    }

    #m-nav:target{
        display: block;;
    }

    .m-links{
        height: fit-content;
        width: 90%;
        margin-top: 40px;
    }

    .m-links ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .m-links a{
        color: #222;
        display: flex;
        width: 100%;
        padding: 20px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14pt;
        border-bottom: 1px solid #444;
        font-family:arial;
        justify-content: space-between;
    }

    .m-links a:hover{
        border-left: 4px solid white;
        background-color: #2f4563;
        color: white;
    }

    .m-exit{
        height:50px;
        text-align: right;
    }

    a.exit{
        font-size: 16pt;
        font-weight: bolder;
        color: #222 ;
        background-color: transparent;
        border: none;
        text-decoration: none;
        padding: 15px;
        display: block;
    }

    a.active{
        border-left: 2px solid white;
        background-color: #2f4563;
        color:white;
    }

    .hamb-burger{
        display: block;
    }

    .m-copyright{
        width: 90%;
        text-align: center;
        color: #777;
        padding: 10px;
        margin: auto;
        margin-top: 40px;
        font-size: 11pt;
    }





    /* for slideshow */

    .intro{
        height: 67vh;
        width: 100%;
        overflow-y: hidden;
        margin-top: 80px;
    }


    .show-bar{
        display: none;
    }
    
    .about{
        width:90%;
        /* background-color: #222; */
        padding: 10px;
        position: relative;
        top: 50px;
        margin: auto;
        height: fit-content;
    }

    .about-head{
        color: #222;
    }
    
    .bio-split{
        width: 100%;
        /* border: 1px solid #222; */
        height: fit-content;
        /* position: relative; */
        /* top: 30px; */
        display: block;
        margin-bottom: 100px;
    }
    
    .fa-regular{
        font-size: 20pt;
    }
    
    .bio-pic{
        width: 100%;
        height: 34vh;
        margin-bottom: 20px;
    }
    
    .bio-card{
        width: 250px;
        height: 100%;
        box-shadow: 0px 0px 5px #999;
        margin: auto;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    .bio-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .bio-tabs{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }
    
    
    .bio-clicks{
        width: 100%;
        height: 44px;
        /* background-color: blue; */
        /* color: white; */
        display: flex;
    }
    
    #about-click{
        width: 100px;
        height:100%;
        padding: 15px;
        color: #4b3a3a;;
        /* background-color: #4b3a3a; */
        text-align: center;
        border-left: 1px solid #4b3a3a;
        border-top: 1px solid #4b3a3a;
        border-right: none;
        border-bottom: none;
    }
    
    #contact-click{
        width: 100px;
        height:100%;
        padding: 13px;
        color: #4b3a3a;;
        /* background-color: #4b3a3a; */
        text-align: center;
        border-left: 1px solid #4b3a3a;
        border-top: 1px solid #4b3a3a;
        border-right: 1px solid #4b3a3a;
        border-bottom: none;
    }

    .bio-boxes{
        width: 100%;
        height: 85%;
        position: relative;
        border: 1px solid #cccc;
    }
    
    #contact-click:hover, #about-click:hover{
        cursor: pointer;
        opacity:0.8;
    }
    
    .about-box{
        width: 100%;
        height: 100%;
        border: 1px solid #bbb;
        position: absolute;
        top:0px;
        left: 0px;
    }

    .box-contain{
        width: 90%;
        height: fit-content;
        margin:auto;
        margin-top: 20px;
        line-height: 1.5;
        font-family: candara;
    }
    
    .box-header{
        font-weight: bold;
        font-size: 15pt;
    }
    
    .contact-box{
        width: 100%;
        height: 100%;
        border: 1px solid #bbb;
        position: absolute;
        top:0px;
        left: 0px;
    }
    




    /* Working on the queries from after slide */
    .site{
        display: block;
        height: fit-content;
        width: fit-content;
        margin: auto;
        margin-top: 80px;
    }

    .col-1,.col-2,.col-3{
        width: 250px;
        /* background-color: blue; */
        margin-top: 40px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 0px;
    }



    .grid{
        height: fit-content;
        width: 95%;
        margin: auto;
        /* border: 1px solid #222; */
        margin-top: 60px;
        display:block;
    }
    
    .grid-left{
        /* background-color: orange; */
        width:100%;
        height: 45vh;
        padding: 10px;
    }
    
    .grid-text{
        font-size: 17pt;
        font-weight: bold;
    }
    
    .grid-pic{
        width:240px;
        height: 220px;
        background-color: #2a3e5a;
        margin: auto;
        border-bottom-left-radius:50px;
        border-bottom-right-radius:50px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        color: white;
        font-family: calibri;
    }
    
    .grid-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .grid-right{
        /* background-color: orangered; */
        width: 100%;
        height: 30vh;
        border:2px solid lightgrey;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }
    
    .grid-logo{
        font-family: arial;
        font-weight: bold;
        font-size: 30pt;
        color: #2a3e5a;
        animation-name: gridlogo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    
    @keyframes gridlogo{
        0%{
            color: #111;
        }
    
        25%{
            color: #ccc;
        }
    
        75%{
            color: #2f4563;
        }
    
        100%{
            color: #2a3e5a;
        }
    }
    
    .preview-grid{
        color: white;
        width: 90%;
        margin: auto;
        margin-top:50px;
        display: block;
        height: fit-content;
        grid-template-columns: auto auto;
        overflow: hidden; 
        border-radius: 10px;
    } 

    .pg-blog,.pg-quote,.pg-video{
        width: 100%;
        height: 40vh;
        margin-top: 50px;
    }


    
    
    /* FOR THE FOOTER */
    #blog-pages-foot{
        width: 100%;
        height: fit-content;
        background-color: #222;
        margin-top: 100px;
        font-family: calibri;
    }
    
    .foot-inner-1{
        width: 95%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .foot-media{
        margin-left: 15px;
        font-family: candara;
        color: #999;
    }
    
    .rcol-1{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    
    .rcol-2{
        display: none;
    }
    
    
    
    
    
    .nav-non{
        display: none;
    }
}

