@import url("design.css");
@import url("quotes.css");

#video-content{
    width: 85%;
    height: fit-content;
    /* background-color: red; */
    /* border: 2px solid #333; */
    margin:auto;
    margin-top: 150px;
}

.video-push{
    margin-top: 30px;

}

.vid-text{
    font-size: 12pt;
    text-align: center;
    width: 30%;
    margin: auto;
}

.vid-big{
    font-size: 25pt;
    text-transform: capitalize;
    font-weight: bold;
}

.vid-small{
    font-size: 13pt;
    width: 40%;
    font-weight: normal;
}
.vid-color{
    color:burlywood;
}

#movies{
    width: 85%;
    height: fit-content;
    background-color: transparent;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid burlywood;
}

.searchbar{
    width: 100%;
    height: max-content;
    padding:15px;
    text-align: center;
}

#searcher{
    width: 45%;
    padding: 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border:1px solid lightgrey;
}

#search-btn{
    padding: 10px;
    border: none;
    width: 50px;
    color: white;
    background:#222;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mrow{
    width: 100%;
    padding: 2px;
    /* background-color: red; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#movie-card{
    width: 270px;
    height: 200px;
    box-shadow: 0px 0px 2px #ccc;
    background-color: whitesmoke;
    display: block;
}

#card-show-mcard{
    width: 100%;
    height: 100%;
}


.div-1{
    height: 80%;
    background-color: lightgrey;
    width: 100%;
}

.div-2{
    height: 20%;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-title{
    width: 70%;
    text-align: center;
    font-weight: normal;
    font-family: arial;
    font-size: 11pt;
    text-transform: capitalize;
}

.div-menu{
    width: 30%;
    text-align: center;
    position: relative;
}

#div-bar:hover{
    background-color: lightgrey;
}

#div-bar{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 15pt;
}

.rowe{
    width: 130px;
    background-color: whitesmoke;
    position: absolute;
    padding: 0px;
    height: 100px;
    /* border: 1px solid red; */
    margin-top: -2px;
}



.sub{
    display: block;
}

.rowe ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.rowe li{
    /* background-color: blue; */
    height:50px;
}

#vid-download,#vid-watch{
    width: 100%;
    height: 100%;
    border:none;
    color: black;
    text-transform: capitalize;
}

#vid-download:hover,#vid-watch:hover{
    background-color: lightgrey;
}

#card-container{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#card-show{
    width: 60%;
    height: 60%;
    /* border: 2px solid red; */
    display: block;
    text-align: center;
}

#all-videos{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#video-back{
    width: 60%;
    border: none;
    padding: 15px;
    font-size: 13pt;
    font-weight: bold;
    color: #222;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px #222;
    border-radius: 10px;
    margin-top: 10px;
}

#video-back:hover{
    opacity:0.8;
    cursor: pointer;
}

#show-bio{
    width:30%;
    background-color: whitesmoke;
    height: 100%;
}


@media(max-width:900px){

#video-content{
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    /* border: 2px solid #333; */
    margin:auto;
    margin-top: 150px;
}

.video-push{
    margin-top: 30px;

}

.vid-text{
    font-size: 12pt;
    text-align: center;
    width: 30%;
    margin: auto;
}

.vid-big{
    font-size: 22pt;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: auto;
}

.vid-small{
    font-size: 12pt;
    width: 100%;
    font-weight: normal;
}
.vid-color{
    color:burlywood;
}









/* Working on the video aspect */

#movies{
    width: 95%;
    height: fit-content;
    background-color: transparent;
    padding: 0px;
    margin: auto;
    margin-top: 30px;
    border: none;
}

.searchbar{
    width: 100%;
    height: fit-content;
    padding:15px;
    text-align: center;
}

#searcher{
    width: 75%;
    padding: 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border:1px solid lightgrey;
}

#search-btn{
    padding: 10px;
    border: none;
    width: 50px;
    color: white;
    background:#222;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mrow{
    width: 100%;
    padding: 2px;
    /* background-color: red; */
    margin-top: 20px;
    display: block;
    height: fit-content;
}

#movie-card{
    width: 95%;
    height: 250px;
    box-shadow: 0px 0px 2px #ccc;
    background-color: whitesmoke;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

#card-show-mcard{
    width: 100%;
    height: 100%;
}


.div-1{
    height: 80%;
    background-color: lightgray;
    width: 100%;
}

.div-2{
    height: 20%;
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-title{
    width: 70%;
    text-align: center;
    font-weight: normal;
    font-family: arial;
    font-size: 11pt;
    text-transform: capitalize;
}

.div-menu{
    width: 30%;
    text-align: center;
    position: relative;
}

#div-bar:hover{
    background-color: lightgrey;
}

#div-bar{
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 15pt;
}

.rowe{
    width: 130px;
    background-color: whitesmoke;
    position: absolute;
    padding: 0px;
    height: 100px;
    /* border: 1px solid red; */
    margin-top: -2px;
    left: -45px;
}



.sub{
    display: block;
}

.rowe ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.rowe li{
    /* background-color: blue; */
    height:50px;
}

#vid-download,#vid-watch{
    width: 100%;
    height: 100%;
    border:none;
    color: black;
    text-transform: capitalize;
}

#vid-download:hover,#vid-watch:hover{
    background-color: lightgrey;
}

#card-container{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    text-align: center;
    z-index: 3;
}

#card-show{
    width: 90%;
    height: 70%;
    /* border: 2px solid red; */
    display: block;
    text-align: center;
    margin: auto;
    margin-top:30px;
    text-align: center;
}

#all-videos{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#video-back{
    width: 80%;
    border: none;
    padding: 15px;
    font-size: 13pt;
    font-weight: bold;
    color: #222;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px #222;
    border-radius: 10px;
    margin-top: 10px;
}

#video-back:hover{
    opacity:0.8;
    cursor: pointer;
}

#show-bio{
    width:30%;
    height: 100%;
    display: none;
}


}